#### IMAGES

INFLUXDB3_TAG=3.8.0-core-custom
INFLUXDB3_IMAGE=spoke/influxdb3:${INFLUXDB3_TAG}

MINIO_IMAGE=minio/minio:RELEASE.2025-09-07T16-13-09Z
COUCHDB_IMAGE=couchdb:3.5.1
VICTORIA_METRICS_IMAGE=victoriametrics/victoria-metrics:v1.134.0

#### NETWORK

INFLUXDB3_IP=192.168.35.45
INFLUXDB3_PORT=8182

MINIO_IP=192.168.35.42
MINIO_API_PORT=9001
MINIO_CONSOLE_PORT=9091

COUCHDB_IP=192.168.35.44
COUCHDB_PORT=5988

VICTORIA_METRICS_IP=192.168.35.48
VICTORIA_METRICS_PORT=8430

#### INFLUXDB3 CONFIG

INFLUXDB3_NODE_IDENTIFIER_PREFIX=spoke
INFLUXDB3_WRITER_IDENTIFIER_PREFIX=spoke

#### COUCHDB CONFIG (only needed for initial creation)

ERL_FLAGS=+P 65536 +K true +A 16

#### DATA PATHS

INFLUXDB3_DATA_DIR=${APPDATA_DIR}/influxdb3
MINIO_DATA_DIR=${APPDATA_DIR}/minio
COUCHDB_DATA_DIR=${APPDATA_DIR}/couchdb
VICTORIA_METRICS_DATA_DIR=${APPDATA_DIR}/victoria_metrics
